<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kuang.dao.UserMapper"><!--与UserMapper绑定，重写id为getUserList的方法-->
    <select id="getUserList" resultType="com.kuang.pojo.User">
        select * from user;
    </select>

    <select id="getUserById" parameterType="int" resultType="com.kuang.pojo.User">
        select * from user where id=#{id};
    </select>

    <select id="getUserMapById" parameterType="int" resultType="map">
        select * from user where id=#{id};
    </select>

    <insert id="addUser" parameterType="com.kuang.pojo.User" >
        insert into user (id, name, pwd) values (#{id},#{name},#{pwd});
    </insert>

    <insert id="addMapUser" parameterType="map" >
        insert into user (id, name, pwd) values (#{userId},#{userName},#{userPwd});
    </insert>

    <update id="updateUser" parameterType="com.kuang.pojo.User" >
        update user set name=#{name},pwd=#{pwd} where id=#{id};
    </update>

    <update id="updateMapUser" parameterType="map" >
        update user set name=#{userName},pwd=#{userPwd} where id=#{userId};
    </update>

    <delete id="delUser" parameterType="int">
        delete
        from user
        where id = #{id};
    </delete>


</mapper>






